@font-face {
  font-family: "irohamaru mikami";
  font-weight: 400;
  src: url("./static/fonts/irohamaru-mikami-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "irohamaru mikami";
  font-weight: 500;
  src: url("./static/fonts/irohamaru-mikami-Medium.ttf") format("truetype");
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes moveInTop {
  0% {
    bottom: -1000px;
    opacity: 0;
  }
  100% {
    bottom: -500px;
		opacity: 1;
  }
}

@keyframes moveOutTop {
  0% {
    bottom: -500px;
		opacity: 1;
  }
  100% {
    bottom: -1000px;
    opacity: 0;
  }
}

@keyframes moveInBottom {
  0% {
    top: -500px;
    opacity: 0;
  }
  100% {
    top: 0;
		opacity: 1;
  }
}

@keyframes moveOutBottom {
  0% {
    top: 0;
		opacity: 1;
  }
  100% {
    top: -500px;
    opacity: 0;
  }
}

.fadeIn, .fadeOut, .moveInTop, .moveOutTop, .moveInBottom, .moveOutBottom {
	animation-duration: 1s;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}

.fadeIn { animation-name: fadeIn; }
.fadeOut { animation-name: fadeOut; }

.moveInTop { animation-name: moveInTop; }
.moveOutTop { animation-name: moveOutTop; }

.moveInBottom { animation-name: moveInBottom; }
.moveOutBottom { animation-name: moveOutBottom; }

.hidden {
  display: none;
}

:root {
	--shadowStuff: url(#shadowEffect);
	--outlineStuff: url(#outlineEffect);

  --effect-filters: var(--outlineStuff) var(--shadowStuff);
}

body {
  font-family: "irohamaru mikami", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 45px;
}

#overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#redeem-box {
  flex-grow: 3;
  width: 100%;
  height: 100vh - 100px;
}

#redeem-popup {
  /* opacity: 0; */
  height: 100%;
}

#redeem-image {
  position: relative;
}

#alert-box {
  height: 100px;
}

#alert-popup {
  opacity: 0;
  display: flex;
  justify-content: center;
  height: 100px;
  filter: var(--effect-filters);
}

#alert {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  filter: var(--effect-filters);
}

#alert-image {
  width: 9%;
  padding-right: 0.5em;
}

#username, #amount {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(170deg, #FFF 0%, #5286c5 100%);
}
