@font-face {
  font-family: "irohamaru mikami";
  font-weight: 400;
  src: url("./static/fonts/irohamaru-mikami-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "irohamaru mikami";
  font-weight: 500;
  src: url("./static/fonts/irohamaru-mikami-Medium.ttf") format("truetype");
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeIn, .fadeOut {
	animation-duration: 1s;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}

.fadeIn { animation-name: fadeIn; }
.fadeOut { animation-name: fadeOut; }

.hidden {
  display: none;
}

:root {
	--shadowStuff: url(#shadowEffect);
	--outlineStuff: url(#outlineEffect);

  --effect-filters: var(--outlineStuff) var(--shadowStuff);
}

body {
  font-family: "irohamaru mikami", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 45px;
}

#popup {
  opacity: 0;
  display: flex;
  justify-content: center;
  height: 100px;
  filter: var(--effect-filters);
}

#alert {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  filter: var(--effect-filters);
}

#alert-image {
  width: 5%;
  padding-right: 1em;
}

#username, #amount {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(170deg, #FFF 0%, #5286c5 100%);
}
