@font-face {
  font-family: "irohamaru mikami";
  src: url("./static/fonts/irohamaru-mikami-Regular.ttf") format("truetype");
}

@keyframes slideIn {
	0% {
		transform: translateY(-150px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideOut {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		transform: translateY(-150px);
		opacity: 0;
	}
}

.slideIn, .slideOut {
	animation-duration: 1s;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}

.slideIn { animation-name: slideIn; }
.slideOut { animation-name: slideOut; }

.hidden {
  display: none;
}

:root {
	--shadowStuff: url(#shadowEffect);
	--outlineStuff: url(#outlineEffect);

  --effect-filters: var(--outlineStuff) var(--shadowStuff);

  --sentence-start: "Thank you ";
  --sentence-mid: " for the ";
  --sentence-end: "!";
}

body {
  font-family: "irohamaru mikami", sans-serif;
  color: white;
  font-size: 45px;
}

#popup {
  transform: translateY(-150px);
  display: flex;
  justify-content: center;
  background-color: #1d3c61;
  opacity: 0.9;
  height: 100px;
  filter: var(--effect-filters);
}

#alert {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  filter: var(--effect-filters);
}

#alert-image {
  width: 5%;
  padding-right: 1em;
}

#username, #amount {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(170deg, #FFF 0%, #5286c5 100%);
}
